/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
     height: 100%;
 }

body {
    margin: 0;
    /* background: url("https://wallpaperplay.com/walls/full/9/5/7/180409.jpg") center center no-repeat; */
    background-size: cover;
    z-index: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

#root > div {
    height: 100%;
    width: 100%;
}

.full {
    z-index: 1;
    min-width: 671px;
    height: 100%;
    width: 100%;
}

.session-form-container {
    background: white;
    width: 50%;
    margin: 0 25%;
    height: 50%;
    text-align: center;
}

.session-form > label {
    display: block;
    margin-bottom: 20px;
}

.review-form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background: #12bbd4;
    padding-top: 0;
}

.review-form-container > h1 {
    text-align: center;
    margin-top: 0;
}

.search {
    background: #fee03f;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    min-width: 671px;
    margin: auto;
}

.search-inside {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    justify-self: center;
}

.search-bar {
    display: block;
    width: 100%;
    padding-right: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px 0px 0px 5px;
    border-width: 0px;
    border-left: 1px solid lightgrey;
    padding-left: 5px;
}

 .filter-and-index, .place-show {
     /* width: 50%; */
     margin: auto;
     min-width: 550px;
     background: white;
     border-radius: 5px 5px;
     font-family: 'Roboto', sans-serif;
 }

 .place-items {
     margin: auto;
     list-style: none;
     padding: 0;
 }

 .place-index-container {
     margin: auto;
 }

 .place-item-index-container {
     width: 75%;
     margin: auto;
 }

 .place-item {
     margin-bottom: 5px;
     display: flex;
     border-bottom: 1px solid lightgrey;
     padding: 10px 0 10px 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     text-decoration: none;
     border-radius: 5px;
     background: white;
     padding-left: 5px;
 }

 .place-item:hover {
     box-shadow: 3px 2px 2px grey;
     /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) */
 }

 .place-item:last-of-type {
     margin-bottom: 5px;
     display: flex;
     border-bottom: none;
 }

 .logged-out, .logged-in {
     display: flex;
     justify-content: space-around;
     margin: 0 5px;
 }

 .logged-in {
     justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
 }

 .logged-in > button {
    height: 75%;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    margin: 0 5px;
    padding: 0px;
    background: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    position: relative;
 }

 .details-arrow {
     height:5px;
     display: block;
     border-bottom: solid 10px #FFF;
     border-left: solid 5px transparent;
     border-right: solid 5px transparent;
     display: block;
     position: absolute;
     background: transparent;
     width: 0;
    height: 0;
    top: -10px;
    right: 10px;
 }

 .logged-in > button > img {
     padding: 0px 3px;
 }

 .logged-in > button > span {
     display: flex;
     align-items: center;
    height: 38px;
    padding: 0px 5px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    background: purple;
 }

 .logged-in > button:hover {
     cursor: pointer;
 }

 .logged-in-details {
     background: white;
     position: relative;
     width: 150px;
     border-radius: 5px 5px;
}

 .logged-in-details-user {
     display: flex;
     align-items: center;
     justify-content: space-around;
     border: 1px solid lightgrey;
     border-radius: 5px 5px;
     padding: 5px 0;
 }

 .logged-in-details-container {
     display: none;
     position: absolute;
     top: 55px;
     right: 0px;
}

.logged-in-details-list > li {
    font-family: 'Roboto', sans-serif;
    padding: 5px 0;
    border: 1px solid lightgrey;
    border-radius: 5px 5px;
}

.logged-in-details-list > li:hover {
    cursor: pointer;
}

.logged-in-details-list {
    background: white;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.logged-in-details-show {
    overflow-wrap: break-word;
}

.logged-in-details-show > p {
    margin: 0;
    font-size: 14px;
}

 .logged-in > p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
 }

 .logged-in-username {
     text-decoration: none;
 }

 .logged-in-username:active {
    text-decoration: none;
 }

 .logged-in-username:hover {
     text-decoration: underline;
 }

 .nimbus {
     font-size: 16px;
     color: black;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
 }

 .login {
     color: black;
     text-decoration: none;
     border: 1px solid grey;
     margin: 0 5px;
     padding: 8px;
     font-family: 'Roboto', sans-serif;
 }

 .signup {
     color: black;
     text-decoration: none;
     border: 1px solid grey;
     margin: 0 5px;
     padding: 8px;
     font-family: 'Roboto', sans-serif;
 }

 .filter {
     border-bottom: 1px solid lightgrey;
     width: 100%;
 }
 .filter-inside {
     /* display: flex;
     justify-content: space-around; */
     height: 410px;
     width: 100%;
     margin: auto;
     background: #ededed;
     /* background: #50c878; */
     border-radius: 5px 5px;
     color: black;
     box-shadow: 5px 5px 5px grey;
     font-family: 'Roboto', sans-serif;
     overflow: hidden;
     transition: height 0.4s ease-in;
 }

 .filter-by {
     margin: 0;
     text-align: center;
     border-top: none;
     font-family: 'Roboto', sans-serif;
     width: 100%;
     /* background: #50c878; */
     background: #ededed;
     border-radius: 5px 5px;
     color: black;
     box-shadow: 5px 5px 5px grey;
     border-bottom: 1px solid pink;
     display: flex;
     justify-content: space-around;
 }

 .filter-by:hover {
    background: #50c878;
    color: white;
    cursor: pointer;
 }

 .filter-by-header {
     margin: 0;
 }

 .filter-block {
     font-size: 10px;
     width: 100%;
     text-align: center;
 }

 .main-photo {
     border: 1px solid lightgrey;
     border-radius: 10px;
     margin-right: 10px;
 }

 .place-item-info {
     position: relative;

 }
 .rating1 {
     width: 105px;
     height: 20px;
     background: url(https://i.stack.imgur.com/oZ9Id.png) no-repeat 0px -20px;
 }

 .rating2 {
     width: 105px;
     height: 20px;
     background: url(https://i.stack.imgur.com/oZ9Id.png) no-repeat 0px -40px;
 }

 .rating3 {
     width: 105px;
     height: 20px;
     background: url(https://i.stack.imgur.com/oZ9Id.png) no-repeat 0px -60px;
 }

 .rating4 {
     width: 105px;
     height: 20px;
     background: url(https://i.stack.imgur.com/oZ9Id.png) no-repeat 0px -80px;
 }

 .rating5 {
     width: 105px;
     height: 20px;
     background: url(https://i.stack.imgur.com/oZ9Id.png) no-repeat 0px -100px;
 }

 .filter-inside.hide {
    height: 0;
    transition: height 0.4s ease-in;
 }

 .rating-body-review {
    float: right;
    margin-bottom: 5px;
 }

 .rating-body-par > q {
     float: right;
     font-size: 14px;
 }

 .place-item-reviews {
     display: flex;
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: grey;
    margin-bottom: 10px;
    justify-content: center;
 }

 .review-photo {
     margin-right: 2px;
     border-style: none;
 }

 .place-item-name {
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
 }

 .place-item-name:hover {
     cursor: pointer;
     text-decoration: underline;
 }

 .place-item-more {
     color: grey;
     font-family: 'Roboto', sans-serif;
     display: flex;
     align-items: center;
     font-size: 14px;
 }

 .price {
     color: rgb(37, 37, 37);
 }

 .price:after {
     content: "\A0\2022\A0";
     color: grey;
     font-size: 10px;
     vertical-align: center;
     margin-left: 3px;
     margin-right: 3px;
 }

 .login:hover, .signup:hover, .place-creator:hover {
    color: white;
    background: purple;
    cursor: pointer;
 }

 .nimbus {
  color: black;
  text-decoration: none;
  margin: 0 15px;
}

.search-form {
    display: flex;
    flex-grow: 1;
}

.review-items {
    list-style: none;
    text-align: center;
    padding: 0;
    width: 75%;
    margin: auto;
}

.review-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    padding: 10px 20px;
}

.review-item:last-of-type {
    border-bottom: none;
}

.review-user-info {
    display: table;

}

.place-show-review-count {
    margin-left: 5px;
}

.place-show-review-container {
    width: 250px;
    display: inline-block;
}

.rating-date-number {
    padding-left: 5px;
}

.review-user-info {
    font-size: 12px;

}

.review-user-details {
    text-align: initial;
}

.review-user-photo {
    border-radius: 5px;
    margin-right:5px;
}

.place-main-photo {
    border-radius: 5px;
}

.place-photos {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 0;
    border:1px solid grey;
}

.place-photos-container {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.photos-user {
    display: flex;
    justify-content: center;
}

.place-photos-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.place-photo-item-container {
    /* width: 25%; */
    height: 100px;
    margin: 0 10px;
}

.photo-form > input {
    width: 158px;
}

.photo-form-container, .photo-change-form {
    display: none;
}


.place-photo-item {
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.place-item-write:hover, .photo-create:hover, .photo-change-button:hover {
    cursor: pointer;
    background-color: #50c878;
    color: white;
}

.previous-container, .next-container {
    width: 16%;
    height: 106px;
    background: grey;
    text-align: center;
    font-weight: 700;
    color: white;
    line-height: 100px;
}

.next-container {
    border-radius: 0 5px 5px 0;
}

.previous-container {
    border-radius: 5px 0 0 5px;
}

.previous-container:hover, .next-container:hover {
    cursor:pointer;
    opacity: 0.5
}

hr {
    margin:0;
}

.place-creator {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    border: 1px solid grey;
    margin: 0 5px;
    padding: 8px;
    /* justify-self: flex-end; */
}

.error-list {
    background: green;
}

.user-show-review-list {
    list-style: none;
    padding: 0;
}

.user-show-reviews-list-item {
    padding: 0;
}

.user-show-side {
    padding-bottom: 10px;
}

.user-show-side-details {
    margin-bottom: 10px;
}

.user-show-photo {
    border-radius: 5px;
}

.user-show-place-link {
    color: black;
    text-decoration: none;
}

.user-show-place-link:active {
    color: black;
    text-decoration: none;
}

.user-show-place-link > img {
    border-radius: 5px;
}

.user-show-place-link > h2 {
    width: 250px;
}

.user-show-place-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-reviews-show-list-item {
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.user-reviews-show-list-item:last-of-type {
    border: none;
}

.user-reviews-details-list {
    list-style: none;
    padding: 0;
    margin: auto;
    height: 130px;
    overflow: scroll;
    text-align: center;
    width: 250px;
}

.user-reviews-details-container {
    width: 380px;
}

.user-show-container {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}

.rating-sprite {
    list-style: none;
    display: flex;
    direction: rtl;
    justify-content: flex-end;
    /* margin-left: 10%; */
    padding: 0;
    text-align: center;
    margin: auto;
    width: 100px;
}

.price-sprite {
    list-style: none;
    display: flex;
    direction: rtl;
    justify-content: flex-end;
    padding: 0;
    text-align: center;
    margin: auto;
    width: 100px;
}

.rating-date {
    display: flex;
    align-items: flex-end;
    width: 200px;
    margin: auto;
}

.rating-sprite > li {
    width: 20px;
    height: 20px;
    background: url(https://i.stack.imgur.com/oZ9Id.png) no-repeat 0px 0px;
}

.price-sprite > li {
    width: 20px;
    height: 20px;
}

.price-sprite > li:hover,
.price-sprite > li:hover ~ li {
    width: 20px;
    height: 20px;
    color: #50c878;
    cursor: pointer;
}

.price-full > p {
    text-align: center;
}

.rating-sprite > li:hover,
.rating-sprite > li:hover ~ li {
    width: 20px;
    height: 20px;
    background: url(https://i.stack.imgur.com/oZ9Id.png) no-repeat 0px -20px;
    cursor: pointer;
}

.review-form {
    /* background: white; */
    width: 50%;
    margin: auto;
}

.rating-full {
    text-align: center;
    background: #fee03f;
    /* padding-bottom: 10px; */
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
    padding: 10px 0;
}

.rating-full > p {
    margin: 0;
}

.price-full {
    text-align: center;
    background: #fee03f;
    /* padding-bottom: 10px; */
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
    padding: 10px 0;
}

.price-full > p {
    margin: 0;
}

.review-body {
    text-align: center;
    background: #fee03f;
    border-radius: 5px;
    display: block;
    padding: 10px 0;
}

.review-form > input[type='submit'] {
    text-align: center;
    margin: auto;
    width: 100%;
}

.review-body > textarea {
    max-width: fit-content;
}

.filter-block-header {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
}

.filter-span {
    display: inline-block;
    margin: 0;
}

.filter-span:before {
    display: inline-block;
    content: '\002B';
    transition: transform .4s ease-in-out;
}

.filter-span.minus:before{
    content: '\2212';
    transform: rotate(-360deg);
    transition: transform .4s ease-in-out;
}

.clear-filters {
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #ededed;
    border: 2px solid rgba(139, 139, 139, .3);
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding-bottom: 19px;
}

.clear-filters:hover {
    background-color: #ff7070;
    color: white;
}

.place-item-write, .photo-create, .photo-change-button {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 8px;
    border-radius: 5px 5px;
}

.photo-create {
    margin: 5px 0;
}

.place-show-details {
    margin: auto;
    width: 75%;
    text-align: center;
    margin-bottom: 10px;
}

.review-count {
    font-size: 12px !important;
    display: block !important;
}

.review-item-details {
    display: flex;
}

.photo-count {
    font-size: 12px !important;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
  padding-top: 10px;
}

#overlay-image {
   width: 50%;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.black-bar {
    background: black;
    height: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fa-search {
    border-radius: 0px 5px 5px 0px;
    border: 1px;
    cursor: pointer;
    border-left: 1px solid lightgrey;
    outline: none !important;
}

.fa-search:hover {
    background: pink;
    color: white;
}

.fa-search:active {
    background: purple;
    color: white;
    outline: none !important;
}

.black-bar:hover {
    text-decoration: underline;
}

.place-photo-item:hover {
    cursor:pointer
}

/* .place-form {
    text-align: center;
    width: 50%;
    margin: auto;
} */

.place-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background: #12bbd4;
}

.form-container {
    text-align: center;
    background: #fee03f;
    padding-bottom: 10px;
    border-radius: 5px;
}

.form-container > p {
    margin: 5px;
}

.place-form {
    border: 1px solid black;
}

.name-input {
    width: 50%;
}

.form-container > input[type='file'] {
    width: 158px;
}

.form-container > input[type='text'], input[type='time'] {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.hide-tag:after {
    content: none;
}

.previous-container:focus, .next-container:focus, .next:focus, .previous:focus, .photo-create:focus, .photo-change-button:focus {
    outline: none !important;
}

.cancel:hover {
    background-color: #ff7070;
    color: white;
}

.photo-change-form > input[type='file'] {
    width: 158px;
}

.no-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
}
